{% extends 'index.html' %}

{% block content %}
    <h1 class="mt-4">Admin panel</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Create new reserve
    </button>

    {% if messages %}
        <div class="alert alert-success">
            {% for m in messages %}
                {{m}}
            {% endfor %}
        </div>
    {% endif %}
    {% if update %}
        <p class="mt-4">Edit page</p>
        <p class="text-right mt-4"><a class="text-right" href="{% url 'edit_page' %}">Back</a></p>
        <form id="update_form" method="post">
                  {% csrf_token %}
                  {{form}}
        </form>
        <button form="update_form" type="submit" class="btn btn-primary mt-4">Update</button>
        {% if success_update %}
            <p style="color:green">Record updated</p>
        {% endif %}
    {% else %}
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Start reserve</th>
                  <th scope="col">End reserve</th>
                  <th scope="col">Reserve by</th>
                  <th scope="col">Space</th>
                    {% for group in request.user.groups.all %}
                        {% if group.name == 'Manager'%}
                          <th scope="col">Edit</th>
                          <th scope="col">Delete</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in queryset %}
                    <tr {% if i.id|slugify == request.GET.id %} style="background-color:#FFA500" {% endif %}>
                      <th>{{i.id}}</th>
                      <td>{{i.start_date}}</td>
                      <td>{{i.end_date}}</td>
                      <td>{{i.client.username}}</td>
                      <td>{{i.parking_space.id}}</td>
                        {% for group in request.user.groups.all %}
                            {% if group.name == 'Manager'%}
                                <td><a href="{% url 'update_page' i.pk %}">Edit</a></td>
                                <td><a href="{% url 'delete_page' i.pk %}">Delete</a></td>
                            {% endif %}
                        {% endfor %}



<!--                      <td>-->
<!--                          <form id="delete_form" action="{% url 'delete_page' i.pk %}" method="post">-->
<!--                              {% csrf_token %}-->
<!--                          </form>-->
<!--                          <a href="javascript:void()" onclick="delete_question()">Delete</a>-->
<!--                          <script>-->
<!--                              function delete_question() {-->
<!--                                if(confirm("Are you sure?")) {-->
<!--                                    document.getElementById('delete_form').submit()-->
<!--                                }-->
<!--                              }-->
<!--                          </script>-->
<!--                      </td>-->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="add_form" method="post">
                  {% csrf_token %}
                  {{form}}
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button form="add_form" type="submit" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}